<article ng-app="webApp">
	<section class="et-hero-tabs" ng-view>
		<div class="et-hero-tabs-container">
			<a class="et-hero-tab" href="#">Home</a>
			<a class="et-hero-tab" href="#portfolio">Portfolio</a>
			<a class="et-hero-tab" href="#portfolio">Blog</a>
			<a class="et-hero-tab" href="#portfolio">About</a>
			<a class="et-hero-tab" href="#contact">Contact</a>
			<span class="et-hero-tab-slider"></span>
		</div>
	</section>
</article>