<article ng-app="webApp">
	<div ng-view></div>
	<ul>
	  <li>
	    <a href="#" class="spotify"><span>Home</span><i class="entypo-home"></i></a>
	  </li>
	  <li>
	    <a href="#portfolio" class="soundcloud"><span>Projects</span><i class="entypo-code"></i></a>
	  </li>
	  <li>
	    <a href="#contact" class="skype"><span>Contact</span><i class="entypo-direction"></i></a>
	  </li>
	  <li>
	    <a href="#" class="dribbble"><span>Github</span><i class="entypo-github"></i></a>
	  </li>
	  <li>
	    <a href="#" class="spotify"><span>LinkedIn</span><i class="entypo-linkedin"></i></a>
	  </li>
	</ul>
</article>