<article>
  <div class="page-header text-center">
    <h1>Check out what I've made so far</h1>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="https://github.com/Alexanderlol/rails-shine" target="_blank">
        <img class="port-pics" src="http://i.imgur.com/HuPL2Z9.gif"/></a>
      </div>
      <div class="col-md-6 text-left">
        <h3>Shine</h3>
        <h4>Rails, Angular, Postgres and Bootstrap</h4>
        <p>Shine is an internally facing customer employee business application.</p>
        <p>Check it out on my <a href="https://github.com/Alexanderlol/rails-shine" target="_blank">GitHub!</a></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <a href="https://github.com/Alexanderlol/rails-saas-app" target="_blank">
        <img class="port-pics" src="http://i.imgur.com/P0HRxsl.png"/></a>
      </div>
      <div class="col-md-6 text-left">
        <h3>DroneHub</h3>
        <h4>Software-as-a-Service Application</h4>
        <p>DroneHub was developed using rails and is a SaaS App where drone enthusiasts, entrepreneurs, investors and developers come to meet.</p>
        <p>This app uses Devise for form authentication and Stripe for payment processing.</p>
        <p>Demo it live <a href="https://intense-mesa-77335.herokuapp.com/" target="_blank">here!</a></p> 
        <p>Check it out on my <a href="https://github.com/Alexanderlol/rails-saas-app" target="_blank">GitHub!</a></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <a href="https://github.com/Alexanderlol/rails-store" target="_blank">
        <img class="port-pics" src="http://i.imgur.com/gi0D8j5.png"/></a>
      </div>
      <div class="col-md-6 text-left">
        <h3>Rails Store</h3>
        <h4>Agile Web Development with Rails 5</h4>
        <p>This is a web store created in rails with cart and checkout functionality.</p>
        <p>Check it out on my <a href="https://github.com/Alexanderlol/rails-store" target="_blank">GitHub!</a></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <img class="port-pics" src="http://i.imgur.com/FqIN1ZU.jpg"/>
      </div>
      <div class="col-md-6 text-left">
        <h3>Algonquin College</h3>
        <h4>Game Development - Ontario College Advanced Diploma</h4>
        <p>2010 - 2013</p>
        <p>Developed professional industry quality games for PC in collaboration with teammates</p>
        <p>Created basic client/server applications using C#</p>
        <p>Developed side-scrolling IOS game using Objective-C and OpenGL</p>
        <p>Learned to 3D model/animate characters and objects using 3D Studio Max</p>
      </div>
    </div>
  </div>
  <br>
  <br>
</article>