<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
  </head>
  <article>
    <section class="text-center" style="margin-top:60px;">
      <h1>Send Me A Message!</h1>
    </section>
    <section>
      <div class="container" style="margin-top:60px;">
        <div class="row">
          <div class="col-md-6">
            <h2>Contact Me Today</h1>
            <p>I am looking for an internship or junior developer/QA role.</p>
            <p>If you think I may be a good fit for your team feel free to message me!</p>
            <p>I am always open to learning and exploring new opportunities.</p>
            <br>
            <br>
            <br>
            <h2>Contact Information</h2>
            <p>Alexander Afeltra</p>
            <p>Ottawa, ON</p>
            <p>613-513-5239</p>
            <p>afeltra.alex@gmail.com</p>
            <a href="https://github.com/Alexanderlol" target="_blank"><i class="fa fa-github fa-3x" style="color:#000;"></i></a>
            <a href="https://ca.linkedin.com/in/alexander-afeltra-6720a29a" target="_blank"><i class="fa fa-linkedin fa-3x" 
            style="color:#000;"></i></a>
            
          </div>
          <div class="col-md-6" style="margin-top:80px;">
            <div class="container-fluid">
              <form class="new_contact" id="new_contact" action="/contacts" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="✓">
                <div class="form-group">
                  <label for="contact_name">Name</label>
                  <input class="form-control" type="text" name="contact[name]" id="contact_name">
                </div>
                <div class="form-group">
                  <label for="contact_email">Email</label>
                  <input class="form-control" type="text" name="contact[email]" id="contact_email">
                </div>
                <div class="form-group">
                  <label for="contact_comments">Comments</label>
                  <textarea class="form-control" name="contact[comments]" id="contact_comments"></textarea>
                </div>
                <input type="submit" name="commit" value="Submit" class="btn btn-default">
              </form> 
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</html>