<article>
  <div class="page-header text-center">
    <h1>Projects</h1>
  </div>

  <div class="container text-center" style="margin-top: 60px">
    <h2>Shine</h2>
    <h3>Rails, Angular, Postgres and Bootstrap</h3>
    <p>Shine is an internally facing customer employee business application.</p>
    <p>Check it out on my <a href="https://github.com/Alexanderlol/rails-shine" target="_blank">GitHub!</a></p>
    <a href="https://github.com/Alexanderlol/rails-shine" target="_blank">
      <img width=80% height=50% border="0" align="center"  src="http://i.imgur.com/HuPL2Z9.gif"/>
    </a>
  </div>
  <div class="container text-center" style="margin-top: 60px">
    <h2>DroneHub</h2>
    <h3>Software-as-a-Service Application</h3>
    <p>DroneHub was developed using rails and is a SaaS App where drone enthusiasts, entrepreneurs, investors and developers come to meet.</p>
    <p>This app uses Devise for form authentication and Stripe for payment processing.</p>
    <p>Demo it live <a href="https://intense-mesa-77335.herokuapp.com/" target="_blank">here!</a></p> 
    <p>Check it out on my <a href="https://github.com/Alexanderlol/rails-saas-app" target="_blank">GitHub!</a></p>
    <a href="https://github.com/Alexanderlol/rails-saas-app" target="_blank">
      <img width=80% height=50% border="0" align="center"  src="http://i.imgur.com/P0HRxsl.png"/>
    </a>
  </div>
  <br>
  <br>
  <div class="container text-center">
    <h2>Rails Store</h2>
    <p>This is a web store created in rails with cart and checkout functionality.</p>
    <p>Check it out on my <a href="https://github.com/Alexanderlol/rails-store" target="_blank">GitHub!</a></p>
    <a href="https://github.com/Alexanderlol/rails-store" target="_blank">
      <img width=80% height=50% border="0" align="center"  src="http://i.imgur.com/gi0D8j5.png"/>
    </a>
  </div>
  <br>
  <br>
  <div class="container text-center">
    <h2>Rails Blog</h2>
    <p>This is a simple blogging platform created with rails.</p>
    <p>Check it out on my <a href="https://github.com/Alexanderlol/rails-blog" target="_blank">GitHub!</a></p>
    <a href="https://github.com/Alexanderlol/rails-blog" target="_blank">
      <img width=80% height=50% border="0" align="center"  src="http://i.imgur.com/qG7tupZ.png"/>
    </a>
  </div>
  <br>
  <br>
</article>