.jumbotron {
	/*background: url("conglom.jpg");*/
	width: 100%;
	height: 900px;
	background-size: 100% 100%;
}

.typed-font{
  font-family: 'Raleway', sans-serif !important;
  font-size: 34px !important;
  font-weight: thin, lighter !important;

}

.port-pics {
  border-radius: 25px;
  border: 1px solid #000;
  width: 100%;
  height: 300px;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.btn-default {
  color: #000000 !important;
  border-color: #000000 !important;
  border-width: medium !important;
}

.btn-warning {
  color: #000 !important;
  background-color: #FFF !important;
  border-color: #FF0 !important;
  border-width: medium !important;
}

.btn-danger {
  color: #000 !important;
  background-color: #FFF !important;
  border-color: #FF0000 !important;
  border-width: medium !important;
}

.btn-primary {
  color: #000 !important;
  background-color: #FFF !important;
  border-color: #0000FF !important;
  border-width: medium !important;
}

.flash-container {
  position: absolute;
  width: 100%;
}

.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
}

/*@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url('https://fonts.googleapis.com/css?family=Quicksand');*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

section {
	width: 100%;
	height: 100%;
	padding: 0;
}

body {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 600;
  background: #f0f0f0;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif !important;
}

h3 {
  color : #4885ed !important;
}

h4 {
  color : #3cba54 !important;
}

p {
  font-family: sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
  position: fixed;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  z-index: 1;
  li {
    a {
      display: block;
      margin-left: -2px;
      height: 60px;
      width: 60px;
      border-radius: 0 25px 25px 0;
      border: 2px solid #000;
      background: #FFF;
      margin-bottom: 1em;
      transition: all .4s ease;
      color: #2980b9;
      text-decoration: none;
      line-height: 60px;
      position: relative;
      &:hover {
        cursor: pointer;
        width: 180px;
        color: #fff;
        span {
          left: 0;
        }
      }
      span {
        padding: 0 30px 0 15px;
        position: absolute;
        left: -120px;
        transition: left .4s ease;
      }
      i {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em;
      }
    }
    .cust-nav {
      background: rgba(#4885ed, .1);
      border-color: #4885ed;
      color: #4885ed;
      &:hover {
        background: rgba(#4885ed, 1);
      }
    }
    /*.projects {
      background: rgba(#003b46, .1);
      border-color: #c4dfe6;
      color: #003b46;
      &:hover {
        background: rgba(#003b46, 1);
      }
    }
    .contact {
      background: rgba(#22A7F0, .1);
      border-color: #22A7F0;
      color: #22A7F0;
      &:hover {
        background: rgba(#22A7F0, 1);
      }
    }
    .blog {
      background: rgba(#D2527F, .1);
      border-color: #D2527F;
      color: #D2527F;
      &:hover {
        background: rgba(#D2527F, 1);
      }
    }*/
  }
}


/* entypo */

/*[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.test {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);

  h1 {
    font-weight: 600;
    font-size: 2.4em;
    color: #303030;
    margin-bottom: .5em;
  }
  
  p {
    color: #999;
    font-weight: 400;
    font-size: 1.2em;
  }
  
  a {
    color: #4183D7;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 2px dotted #4183D7;
    transition: all .25s ease;
    &:hover {
      color: #D2527F;
      border-color: #D2527F;
    }
  }
}*/