<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
		<div class="container">
			<nav class="navbar navbar-transparent navbar-fixed-top">
				<div class="navbar-header">
					<a class="navbar-brand fa fa-code" href="/">Alexander Afeltra</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
					<li><a href="#portfolio"><i class="fa fa-book"></i> Portfolio</a></li>
					<li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
					<li><a href="https://ca.linkedin.com/in/alexander-afeltra-6720a29a" target="_blank"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/Alexanderlol" target="_blank"><i class="fa fa-github"></i></a></li>
				</ul>
			</nav>
		</div>
    <%= yield %>
  </body>
</html>
